<h1 id="introduction">Introduction</h1>
<p>Photograps are saved in differen folders. To acquire and anaylise EXIF data two tables are generated: 1 PhotoDir, the list of ‘paths’ to the photos (and the ID) 2 ExifData, the accumulation of ‘field’, ‘value’ pairs for all photos</p>
<h1 id="analysis-of-the-folders-where-photos-are-achived">Analysis of the folders where photos are achived</h1>
<div class="sourceCode" id="cb1"><pre class="sourceCode r"><code class="sourceCode r"><a class="sourceLine" id="cb1-1" data-line-number="1"><span class="kw">library</span>(tidyverse)</a></code></pre></div>
<pre><code>## -- Attaching packages ---------------------------------------------------------------- tidyverse 1.2.1 --</code></pre>
<pre><code>## v ggplot2 3.0.0     v purrr   0.2.5
## v tibble  1.4.2     v dplyr   0.7.6
## v tidyr   0.8.1     v stringr 1.3.1
## v readr   1.1.1     v forcats 0.3.0</code></pre>
<pre><code>## -- Conflicts ------------------------------------------------------------------- tidyverse_conflicts() --
## x dplyr::filter() masks stats::filter()
## x dplyr::lag()    masks stats::lag()</code></pre>
<div class="sourceCode" id="cb5"><pre class="sourceCode r"><code class="sourceCode r"><a class="sourceLine" id="cb5-1" data-line-number="1"><span class="kw">library</span>(fs)</a>
<a class="sourceLine" id="cb5-2" data-line-number="2"><span class="kw">library</span>(fst)</a>
<a class="sourceLine" id="cb5-3" data-line-number="3"></a>
<a class="sourceLine" id="cb5-4" data-line-number="4">base_dir_main &lt;-<span class="st"> &quot;/media/nfs/SpRiViFo/foto_rilievi&quot;</span></a>
<a class="sourceLine" id="cb5-5" data-line-number="5">base_dir_tmp &lt;-<span class="st"> &quot;/home/piccolomatteo/Scrivania/foto_rilievi&quot;</span></a>
<a class="sourceLine" id="cb5-6" data-line-number="6">base_dir &lt;-<span class="st"> </span><span class="kw">c</span>(base_dir_main, base_dir_tmp)</a>
<a class="sourceLine" id="cb5-7" data-line-number="7"><span class="co">#base_dir &lt;- &quot;/media/nfs/SpRiViFo/foto_rilievi/20180702/fc76_77&quot;</span></a>
<a class="sourceLine" id="cb5-8" data-line-number="8"><span class="co"># base_dir &lt;- &quot;E:/Foto rilievo&quot;</span></a>
<a class="sourceLine" id="cb5-9" data-line-number="9"><span class="co"># base_dir &lt;- &quot;C:/Users/ro/Pictures/Foto/ALBUM&quot;</span></a>
<a class="sourceLine" id="cb5-10" data-line-number="10"><span class="co"># base_dir &lt;- &quot;C:/Users/ro/Pictures/Foto/ALBUM/2016WeekVenturina_conOrlando&quot;</span></a>
<a class="sourceLine" id="cb5-11" data-line-number="11"></a>
<a class="sourceLine" id="cb5-12" data-line-number="12">psplit &lt;-<span class="st"> </span><span class="cf">function</span>(p, bd) <span class="kw">matrix</span>(<span class="kw">unlist</span>(<span class="kw">path_split</span>(<span class="kw">path_dir</span>(<span class="kw">path_rel</span>(p, bd)))), <span class="dt">ncol =</span> <span class="dv">2</span>, <span class="dt">byrow =</span> T)</a>
<a class="sourceLine" id="cb5-13" data-line-number="13"></a>
<a class="sourceLine" id="cb5-14" data-line-number="14"><span class="co"># PhotoDir &lt;- tibble(path0 = dir_ls(base_dir, rec=T, glob=c(&quot;*.jpg&quot;, &quot;*.JPG&quot;)),</span></a>
<a class="sourceLine" id="cb5-15" data-line-number="15">PhotoDir &lt;-<span class="st"> </span><span class="kw">tibble</span>(<span class="dt">path0 =</span> <span class="kw">dir_ls</span>(base_dir, <span class="dt">rec=</span>T, <span class="dt">regexp =</span> <span class="st">&quot;jpg|JPG&quot;</span>),</a>
<a class="sourceLine" id="cb5-16" data-line-number="16">                   <span class="dt">path1 =</span> <span class="kw">path_rel</span>(path0, base_dir),</a>
<a class="sourceLine" id="cb5-17" data-line-number="17">                   <span class="dt">folder =</span> <span class="kw">dirname</span>(path1),</a>
<a class="sourceLine" id="cb5-18" data-line-number="18">                   <span class="dt">photoFile =</span> <span class="kw">basename</span>(path1)</a>
<a class="sourceLine" id="cb5-19" data-line-number="19">                   ) <span class="op">%&gt;%</span></a>
<a class="sourceLine" id="cb5-20" data-line-number="20"><span class="st">  </span><span class="kw">filter</span>(folder <span class="op">!=</span><span class="st"> &quot;Rotelle&quot;</span>) <span class="op">%&gt;%</span></a>
<a class="sourceLine" id="cb5-21" data-line-number="21"><span class="st">  </span><span class="kw">rowid_to_column</span>(<span class="st">&quot;ID&quot;</span>)</a></code></pre></div>
<pre><code>## Error: [ENOENT] Failed to search directory &#39;/media/nfs/SpRiViFo/foto_rilievi&#39;: no such file or directory</code></pre>
<div class="sourceCode" id="cb7"><pre class="sourceCode r"><code class="sourceCode r"><a class="sourceLine" id="cb7-1" data-line-number="1"><span class="kw">write_fst</span>(PhotoDir, <span class="st">&quot;PhotoDir.fst&quot;</span>)</a></code></pre></div>
<pre><code>## Error in is.data.frame(x): oggetto &quot;PhotoDir&quot; non trovato</code></pre>
<h1 id="extract-exif-data">Extract EXIF data</h1>
<div class="sourceCode" id="cb9"><pre class="sourceCode r"><code class="sourceCode r"><a class="sourceLine" id="cb9-1" data-line-number="1"><span class="kw">library</span>(stringr)</a>
<a class="sourceLine" id="cb9-2" data-line-number="2"></a>
<a class="sourceLine" id="cb9-3" data-line-number="3">pp &lt;-<span class="st"> &quot;/media/nfs/SpRiViFo/foto_rilievi/20180702/fc76_77/IMG_0038.JPG&quot;</span></a>
<a class="sourceLine" id="cb9-4" data-line-number="4"><span class="co"># pp &lt;- &quot; C:\\Users\\ro\\Pictures\\Foto\\ALBUM\\2017Natale\\Refrancoreimage1.JPG&quot;</span></a>
<a class="sourceLine" id="cb9-5" data-line-number="5"></a>
<a class="sourceLine" id="cb9-6" data-line-number="6">exiftool_cmd &lt;-<span class="st"> &quot;exiftool&quot;</span></a>
<a class="sourceLine" id="cb9-7" data-line-number="7"><span class="co"># exiftool_cmd &lt;- &quot;C:\\Users\\ro\\Documents\\R\\win-library\\3.5\\exiftoolr\\exiftool\\win_exe\\exiftool&quot;</span></a>
<a class="sourceLine" id="cb9-8" data-line-number="8"><span class="cf">if</span>(<span class="kw">system</span>(<span class="kw">paste</span>(exiftool_cmd, <span class="st">&quot;-ver&quot;</span>)) <span class="op">==</span><span class="st"> </span>127L) <span class="kw">stop</span>(<span class="st">&quot;&#39;exiftool&#39; command not found!&quot;</span>)</a></code></pre></div>
<pre><code>## Warning in system(paste(exiftool_cmd, &quot;-ver&quot;)): &#39;exiftool&#39; not found</code></pre>
<pre><code>## Error in eval(expr, envir, enclos): &#39;exiftool&#39; command not found!</code></pre>
<div class="sourceCode" id="cb12"><pre class="sourceCode r"><code class="sourceCode r"><a class="sourceLine" id="cb12-1" data-line-number="1">read_exif0 &lt;-<span class="st"> </span><span class="cf">function</span>(photo.path, <span class="dt">cmd=</span>exiftool_cmd) <span class="kw">system</span>(<span class="kw">paste</span>(cmd, photo.path), <span class="dt">intern =</span> <span class="ot">TRUE</span>)</a>
<a class="sourceLine" id="cb12-2" data-line-number="2"></a>
<a class="sourceLine" id="cb12-3" data-line-number="3"><span class="kw">head</span>(<span class="kw">read_exif0</span>(pp))</a></code></pre></div>
<pre><code>## Error in system(paste(cmd, photo.path), intern = TRUE): &#39;exiftool&#39; not found</code></pre>
<div class="sourceCode" id="cb14"><pre class="sourceCode r"><code class="sourceCode r"><a class="sourceLine" id="cb14-1" data-line-number="1">read_exif &lt;-<span class="st"> </span><span class="cf">function</span>(photo.path, <span class="dt">cmd=</span>exiftool_cmd) {</a>
<a class="sourceLine" id="cb14-2" data-line-number="2">  x &lt;-<span class="st"> </span>photo.path <span class="op">%&gt;%</span></a>
<a class="sourceLine" id="cb14-3" data-line-number="3"><span class="st">  </span><span class="co"># Warning: if path contains spaces &#39;exiftool&#39; will search for each &#39;word&#39;!</span></a>
<a class="sourceLine" id="cb14-4" data-line-number="4"><span class="st">    </span><span class="kw">paste</span>(cmd, .) <span class="op">%&gt;%</span></a>
<a class="sourceLine" id="cb14-5" data-line-number="5"><span class="st">    </span><span class="kw">system</span>(<span class="dt">intern =</span> <span class="ot">TRUE</span>) <span class="op">%&gt;%</span></a>
<a class="sourceLine" id="cb14-6" data-line-number="6"><span class="st">    </span><span class="kw">str_split</span>(<span class="st">&quot;:&quot;</span>, <span class="dv">2</span>) <span class="op">%&gt;%</span></a>
<a class="sourceLine" id="cb14-7" data-line-number="7"><span class="st">    </span>unlist <span class="op">%&gt;%</span></a>
<a class="sourceLine" id="cb14-8" data-line-number="8"><span class="st">    </span><span class="kw">matrix</span>(<span class="dt">ncol =</span> <span class="dv">2</span>, <span class="dt">byrow =</span> T) </a>
<a class="sourceLine" id="cb14-9" data-line-number="9">  <span class="kw">tibble</span>(<span class="dt">field =</span> x[,<span class="dv">1</span>], <span class="dt">value =</span> x[,<span class="dv">2</span>]) <span class="op">%&gt;%</span></a>
<a class="sourceLine" id="cb14-10" data-line-number="10"><span class="st">  </span>return</a>
<a class="sourceLine" id="cb14-11" data-line-number="11">}</a>
<a class="sourceLine" id="cb14-12" data-line-number="12"></a>
<a class="sourceLine" id="cb14-13" data-line-number="13"><span class="co"># I am afraid it will be long!!</span></a>
<a class="sourceLine" id="cb14-14" data-line-number="14">t0 &lt;-<span class="st"> </span><span class="kw">Sys.time</span>()</a>
<a class="sourceLine" id="cb14-15" data-line-number="15"><span class="kw">cat</span>(<span class="kw">paste</span>(<span class="st">&quot;In folder&quot;</span>, base_dir, <span class="st">&quot;there are&quot;</span>, <span class="kw">nrow</span>(PhotoDir),<span class="st">&quot;files.</span><span class="ch">\n</span><span class="st">&quot;</span>))</a></code></pre></div>
<pre><code>## Error in nrow(PhotoDir): oggetto &quot;PhotoDir&quot; non trovato</code></pre>
<div class="sourceCode" id="cb16"><pre class="sourceCode r"><code class="sourceCode r"><a class="sourceLine" id="cb16-1" data-line-number="1"><span class="kw">cat</span>(<span class="kw">paste</span>(<span class="st">&quot;   Exif data acquisition started at:&quot;</span>, t0, <span class="st">&quot;</span><span class="ch">\n</span><span class="st">&quot;</span>))</a></code></pre></div>
<pre><code>##    Exif data acquisition started at: 2018-10-23 19:24:08</code></pre>
<div class="sourceCode" id="cb18"><pre class="sourceCode r"><code class="sourceCode r"><a class="sourceLine" id="cb18-1" data-line-number="1">ExifData &lt;-<span class="st"> </span>PhotoDir <span class="op">%&gt;%</span></a>
<a class="sourceLine" id="cb18-2" data-line-number="2"><span class="st">  </span><span class="kw">mutate</span>(<span class="dt">exif_df =</span> <span class="kw">map</span>(path0, read_exif)) <span class="op">%&gt;%</span></a>
<a class="sourceLine" id="cb18-3" data-line-number="3"><span class="st">  </span><span class="kw">select</span>(ID, exif_df) <span class="op">%&gt;%</span></a>
<a class="sourceLine" id="cb18-4" data-line-number="4"><span class="st">  </span>unnest</a></code></pre></div>
<pre><code>## Error in eval(lhs, parent, parent): oggetto &quot;PhotoDir&quot; non trovato</code></pre>
<div class="sourceCode" id="cb20"><pre class="sourceCode r"><code class="sourceCode r"><a class="sourceLine" id="cb20-1" data-line-number="1">t1 &lt;-<span class="st"> </span><span class="kw">Sys.time</span>()</a>
<a class="sourceLine" id="cb20-2" data-line-number="2"><span class="kw">cat</span>(<span class="kw">paste</span>(<span class="st">&quot;Exif acquisition ended at&quot;</span>, t1,<span class="st">&quot;, elapsed time:&quot;</span>, (t1 <span class="op">-</span><span class="st"> </span>t0)))</a></code></pre></div>
<pre><code>## Exif acquisition ended at 2018-10-23 19:24:08 , elapsed time: 0.00598621368408203</code></pre>
<div class="sourceCode" id="cb22"><pre class="sourceCode r"><code class="sourceCode r"><a class="sourceLine" id="cb22-1" data-line-number="1"><span class="kw">write_fst</span>(ExifData, <span class="st">&quot;ExifData.fst&quot;</span>)</a></code></pre></div>
<pre><code>## Error in is.data.frame(x): oggetto &quot;ExifData&quot; non trovato</code></pre>
